$primary-color: color("cyan", "lighten-2")
$primary-color-light: color("cyan", "lighten-2")
$primary-color-dark: color("cyan", "darken-4")
$secondary-color: color("pink", "accent-3")
$navbar-font-color: color("grey", "darken-4")